
.DS_Store

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/opf.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

testapp/commands/Info.php

public/index.php

testapp/views/Info.phtml

testapp/views/helpers/RenderTable.php

.idea/codeStyleSettings.xml

.idea/dictionaries/ofeige.xml
